<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleTodos.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h2>Listado de Pokemones</h2>
    </header>
    <main>

        <% pokemons.forEach(pokemons => { %>
            <div class="card">
                <div class="face front">
                    <img src="<%= pokemons.img %>" alt="">
                    <h3 class="title"><%= pokemons.name %></h3>
                </div>
                <div class="face back">
                    <h3><%= pokemons.hp %> Hp</h3>
                    <p><%= pokemons.exp %>Exp</p>
                    <div class="link">
                        <a href="#">Movimiento</a>
                        <p class="title"><%= pokemons.move %></p>
                    </div>
                </div>
            </div> 
        <% }) %>
    </main>
</body>
</html>